@import 'reset';

@import 'phone-default';

@media only screen and (min-width: 45em) {
    @import 'tablet';
}

@media only screen and (min-width: 64.25em) {
    @import 'desktop';
}

body {
    background: #adf;
    font-size: 16px;
    display: flex;
}